main {
    font-family: 'Dancing Script', cursive;
}

img{
    width: 8.5em;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh ;
}

main{
    background-color: #1de9b6 ;
    flex-grow: 1;
}

.navbar-fixed nav {
    
    font-weight: bold;
    min-height: 9em;
    
}

.black-text{
    color: white !important;
    text-shadow: 1px 1px 1px black; 
}

.formulario{
    
    border-radius: 30px;
    background-color: #EE6E73;
    border: 1px solid black;
    padding: 0 10vh;
    max-height: 55em;

}

.mainContact{
    margin: 7em 1em;
    display: flex;
    justify-content: start;
    align-items: center;
}

.imgContacto{
    min-width: 25vw;
    width: 25vw;
    border-radius: 30px;
}

.cajaTextoContacto{
    margin: 0 0 0 3em;
    max-width: 55%;
}

.encabezadoTxtContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContacto{
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.servicios{
    margin: 0 0 0 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.encabezadoTxtContacto p{
    font-size: 25px;
}

.textoContacto{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 40em;
}

.imgServContacto{
    width: 4em;
    height: 4em;
    background-color: #EE6E73;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    min-width: 4em;
}

.imgServContacto img{
    width: 40px;
}

h5{
    font-weight: bold;
}
h6{
    font-weight: bold;
    font-size: 21px;
}
h4{
    font-weight: bold;
}

.txtServContacto{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 0 5px;
}
.txtServContacto h5{
    text-align: center;
}

.nuestrosServicios{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    min-width: 50%;
}


.navHeader{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    
}

.mainTexto{
    margin-top: 5vh ;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.imgTexto{
    border-radius: 30px ;
    width: 50%;
}

.imgH1{
    border-radius: 30px;
    width: 50%;

}
.carousel{
    margin-top: 6vh;
}


.mainTexto .btn{
    background-color: #EE6E73;
    font-weight: bold !important;
}

.titulosEImg{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;

}

.h1Yh2{
    align-self: center;
    max-width: 40%;
}

h1{
    font-size: 90px;
    font-weight: bold;
    text-align: center;
}

.contenedorTextoIndex{
    margin: 0 2vw 0 0;
    min-width: 36em;
    max-height: 30em;
}

.ubicacion{
    margin-bottom: 6vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.h2Main{
    min-width: 50%;
}

.textoUbicacion{
    margin-left: 5vw;
}



label{
    font-family:'Times New Roman', Times, serif ;
    font-size: 18px !important;
}

.iframe{
    border-radius: 30px;
    width: 50%;
    height: 35vh;
}



#tablaJuguetes{
    margin: 15vh 5vh 0 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#tablaFarmacia{
    margin: 15vh 5vh 0 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cardImage{
    border-radius: 100px;
    align-content: center;
    width: 60%;
    max-width: 60%;
    min-width: 60%;
}

.card{
    border: 5px solid #1DE9B6;
    margin: 0 1vh 8vh 1vh;
    background-color: #EE6E73;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    min-width: 350px;
    min-height: 50em !important;
    max-height: 50em !important;
}

.carta{
    
    display: flex;
    flex-direction: column;
    align-content: center;
}

.card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #1DE9B6;
    border-radius: 30px;
    text-align: center;
    font-size: 35px !important;
    max-width: 100% !important;
    min-width: 100% !important;
    max-height: 4.2em !important;
    min-height: 4.2em !important;
}

.card-price{
    margin: 0 ;
    text-align: center;
    background-color: #1DE9B6;
    border-radius: 30px;
    padding: 0 1em;
    font-size: 25px !important;
    max-height: 1% !important;
}
.card-content{
    font-weight: bold;
    text-align: justify;
    font-size: 20px;
    background-color: #1DE9B6;
    border-radius: 30px !important;
    margin: 0em;
    max-height: 12em !important;
    min-height: 12em !important;
    overflow: hidden;
}

.margin-top-15vh{
    margin-top: 15vh;
}

.card-stock{
    border:2px solid white;
    background-color: red;
    color: white;
    padding: 1vh;
    margin: 0 !important;
    border-radius: 30px !important;
    font-size: 20px;
} 

.card-stock-ok{
    color: white;
    padding: 2vh;
    margin: 0 !important;
    border-radius: 30px !important;
    font-size: 20px;
} 

.mainFarmacia{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:0;
}

.mainJugueteria{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:0 10vh;
}

.margin-top-0{
    font-weight: bold;
    margin-top: 0;
    text-align: justify;
}

.tituloPetShop{
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    background-color: #EE6E73;
    max-width: 5em;
    border-radius: 30px 5px;
}

.btnWhatsapp{
    left: 93%;
    bottom: 4%;
    position: absolute;
    position: fixed;
    width: 90px;
       
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconos{
    width: 40px;
}

.divIconos{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15px;
    
}